<h1>Nuevo Comentario</h1>


<% if @comment.commentable_type == 'place'%>
  <%= render 'form_with_plce', comment: @comment, place: @place %>
<% elsif @comment.commentable_type == 'picture'%>
  <%= render 'form_with_picture', comment: @comment, picture: @picture %>
<% else %>
  <%= render 'form', comment: @comment %>
<% end %>

<%= link_to 'Atras', comments_path %>
