<%= render 'shared/navbar' %>
<div class="mx-auto p-3" style="width: 500px;"></div>

<h1>Editando Fotografia</h1>

<%= render 'form', picture: @picture, place: @place %>

<%= link_to 'Mostrar', @picture %> |
<%= link_to 'Atras', pictures_path %>
