<p>Bienvenido <%= @email %>!</p>

<p>Usted puede confirmar su dirección de correo electrónico en el vínculo abajo</p>

<p><%= link_to 'Confirme su cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
