<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Le estamos contactando para notificarle que su correo ha sido cambiado. <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Le estamos contactando para notificarle que su correo ha sido cambiado. <%= @resource.email %>.</p>
<% end %>
